/* baloo-da-2-regular - latin */
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baloo-da-2-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/baloo-da-2-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baloo-da-2-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-da-2-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-da-2-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baloo-da-2-v14-latin-regular.svg#BalooDa2') format('svg'); /* Legacy iOS */
}