.infos {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 940px;
  height: 100%;
  background-color: rgb(194, 158, 158);
  z-index: 80;

  .text {
    display: flex;
    flex-direction: column;    
    padding-left: 20px;
    padding-right: 50px;
  }

}