@media (max-width: 1024px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* for Internet Explorer, Edge */
    overflow-y: scroll;
    /* for Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  .mainframe {
    .main {
      margin-bottom: unset;

      .content {
        width: unset;
      }
    }
  }
}

@media (max-width: 755px) {
  .loader {
    .pokeball_background {
      width: 280px;
    }

    a {
      font-size: 38px;
      width: 85px;
      height: 85px;
    }
  }

  .mainframe {
    max-width: 100%;
    .main {
      border-radius: unset;
      .title {
        padding-top: 70px;
        padding-bottom: 40px;
  
        .slidecontainer {
          flex-direction: column;
          .slider_menu {        
            .slider {
              width: 230px;
            }
          }
        }
      } 

      .content {
        justify-content: center;
        gap: 10px;
        margin-bottom: 40px;

        .box {
          min-width: 160px;
          width: fit-content;
          max-width: 165px;
        }
      } 
    

  }

  }
}

@media (max-width: 280px) {
  .slider {
    width: 150px;
  }

  .box {
    width: 200px;
    max-width: unset;
  }
}