@import '../scss/fonts';
@import '../scss/drop_down';
@import '../scss/infos';
@import '../scss/loader';
@import '../scss/responsive';
@import '../scss/slider';
@import '../scss/details';
@import '../scss/content';
@import '../scss/navigation';

* {
  scroll-behavior: smooth;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  scrollbar-width: auto;
  /* Firefox */
  scrollbar-color: #ffffff #ffffff;

  ::-webkit-scrollbar {
    /* Chrome, Edge, and Safari */
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: #EBA055;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #EBA055;
  }
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Baloo Da 2';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #3DB7FF, #EBA055);
}

.mainframe {
  max-width: 940px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title {
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

.dflex {
  display: flex;
  align-items: baseline;
}

.pokedex_logo {
  filter: opacity(30%);
  margin-left: 15px;
  margin-bottom: 10px;
}

// .logo_font {
//   color: #FFF;
//   font-family: "Kanit";
//   font-size: 45px;
//   margin: unset;
//   text-align: center;
//   padding-top: 20px;
  
//   @include text3d(
//     adjust-color($primarycolour, $lightness: -8%), 
//     $depth: 6, 
//     $primaryshadowcolour: adjust-color($primarycolour, $lightness: -10%, $saturation: +20%),
//     $shadowopacity: .3);
// }



