/* baloo-da-2-regular - latin */
@font-face {
  font-family: "Baloo Da 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/baloo-da-2-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/baloo-da-2-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/baloo-da-2-v14-latin-regular.woff2") format("woff2"), url("../fonts/baloo-da-2-v14-latin-regular.woff") format("woff"), url("../fonts/baloo-da-2-v14-latin-regular.ttf") format("truetype"), url("../fonts/baloo-da-2-v14-latin-regular.svg#BalooDa2") format("svg"); /* Legacy iOS */
}
/* kanit-100 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/kanit-v12-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-100.woff2") format("woff2"), url("../fonts/kanit-v12-latin-100.woff") format("woff"), url("../fonts/kanit-v12-latin-100.ttf") format("truetype"), url("../fonts/kanit-v12-latin-100.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-100italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/kanit-v12-latin-100italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-100italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-100italic.woff") format("woff"), url("../fonts/kanit-v12-latin-100italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-100italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-200 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/kanit-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-200.woff2") format("woff2"), url("../fonts/kanit-v12-latin-200.woff") format("woff"), url("../fonts/kanit-v12-latin-200.ttf") format("truetype"), url("../fonts/kanit-v12-latin-200.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-200italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/kanit-v12-latin-200italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-200italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-200italic.woff") format("woff"), url("../fonts/kanit-v12-latin-200italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-200italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-300 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/kanit-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-300.woff2") format("woff2"), url("../fonts/kanit-v12-latin-300.woff") format("woff"), url("../fonts/kanit-v12-latin-300.ttf") format("truetype"), url("../fonts/kanit-v12-latin-300.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-300italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/kanit-v12-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-300italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-300italic.woff") format("woff"), url("../fonts/kanit-v12-latin-300italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-300italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-regular - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kanit-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-regular.woff2") format("woff2"), url("../fonts/kanit-v12-latin-regular.woff") format("woff"), url("../fonts/kanit-v12-latin-regular.ttf") format("truetype"), url("../fonts/kanit-v12-latin-regular.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/kanit-v12-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-italic.woff") format("woff"), url("../fonts/kanit-v12-latin-italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-500 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/kanit-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-500.woff2") format("woff2"), url("../fonts/kanit-v12-latin-500.woff") format("woff"), url("../fonts/kanit-v12-latin-500.ttf") format("truetype"), url("../fonts/kanit-v12-latin-500.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-500italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/kanit-v12-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-500italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-500italic.woff") format("woff"), url("../fonts/kanit-v12-latin-500italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-500italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-600 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/kanit-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-600.woff2") format("woff2"), url("../fonts/kanit-v12-latin-600.woff") format("woff"), url("../fonts/kanit-v12-latin-600.ttf") format("truetype"), url("../fonts/kanit-v12-latin-600.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-600italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/kanit-v12-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-600italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-600italic.woff") format("woff"), url("../fonts/kanit-v12-latin-600italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-600italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-700 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kanit-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-700.woff2") format("woff2"), url("../fonts/kanit-v12-latin-700.woff") format("woff"), url("../fonts/kanit-v12-latin-700.ttf") format("truetype"), url("../fonts/kanit-v12-latin-700.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-700italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/kanit-v12-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-700italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-700italic.woff") format("woff"), url("../fonts/kanit-v12-latin-700italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-700italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-800 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/kanit-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-800.woff2") format("woff2"), url("../fonts/kanit-v12-latin-800.woff") format("woff"), url("../fonts/kanit-v12-latin-800.ttf") format("truetype"), url("../fonts/kanit-v12-latin-800.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-800italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/kanit-v12-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-800italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-800italic.woff") format("woff"), url("../fonts/kanit-v12-latin-800italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-800italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-900 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/kanit-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-900.woff2") format("woff2"), url("../fonts/kanit-v12-latin-900.woff") format("woff"), url("../fonts/kanit-v12-latin-900.ttf") format("truetype"), url("../fonts/kanit-v12-latin-900.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-900italic - latin */
@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/kanit-v12-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/kanit-v12-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kanit-v12-latin-900italic.woff2") format("woff2"), url("../fonts/kanit-v12-latin-900italic.woff") format("woff"), url("../fonts/kanit-v12-latin-900italic.ttf") format("truetype"), url("../fonts/kanit-v12-latin-900italic.svg#Kanit") format("svg"); /* Legacy iOS */
}
.infos {
  display: flex;
  flex-direction: column;
  display: none;
  position: fixed;
  top: calc(50% + 23px);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  overflow: scroll;
}
.infos .text {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}
.infos .text span {
  display: flex;
  flex-direction: column;
  line-height: 130%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 90;
}
.loader .box_main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}
.loader .box_main .box_top {
  display: flex;
  justify-content: baseline;
  width: 100%;
  z-index: 93 !important;
  transform: scale(107%);
  transform-origin: bottom center;
}
.loader .box_main .box_expanding {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  -webkit-animation-name: open_up;
          animation-name: open_up;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
  overflow: scroll;
  background-color: white;
}
@-webkit-keyframes open_up {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes open_up {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}
.loader .box_main .box_bottom {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  z-index: 103;
  transform: scale(107%);
  transform-origin: top center;
}
.loader .box_main .box_counter {
  position: absolute;
  left: 50% 50%;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: disappear_counter;
          animation-name: disappear_counter;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 102;
}
@-webkit-keyframes disappear_counter {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -140px;
  }
}
@keyframes disappear_counter {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -140px;
  }
}
.loader .box_main .loader_counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10%;
  height: 10%;
  letter-spacing: 1px;
  margin-top: 12%;
  margin-left: 0.5%;
  left: 50% 50%;
  text-align: center;
  color: #F1DF00;
  font-size: 5vw;
  font-weight: bolder;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  z-index: 81;
}
.loader .box_main .pokemox_circle {
  width: 100%;
  height: 100%;
  transform: scale(101%);
  transform-origin: center center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 80;
}

.fetch_loader {
  position: fixed;
  top: 0;
  left: 50% 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1568627451);
}
.fetch_loader .pokeball_loader {
  position: absolute;
  top: 50% 50%;
  left: 50% 50%;
  max-width: 260px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fetch_loader .fetch_loader_counter {
  position: absolute;
  top: 50% 50%;
  left: 50% 50%;
  color: #f8f4f4;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: #FF9A60;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 1px;
  -webkit-animation-name: color_change;
          animation-name: color_change;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes color_change {
  0% {
    background-color: #DB8711;
  }
  6% {
    background-color: #E15D58;
  }
  12% {
    background-color: #8080FA;
  }
  18% {
    background-color: #EAD900;
  }
  24% {
    background-color: #A5C000;
  }
  30% {
    background-color: #A5AC70;
  }
  36% {
    background-color: #AC81FA;
  }
  42% {
    background-color: #962BA8;
  }
  48% {
    background-color: #E2568D;
  }
  54% {
    background-color: #AFA700;
  }
  60% {
    background-color: #D5C754;
  }
  66% {
    background-color: #6A5A46;
  }
  72% {
    background-color: #714E9E;
  }
  78% {
    background-color: #BAB5D3;
  }
  84% {
    background-color: #AC3627;
  }
  90% {
    background-color: #A9D7D9;
  }
  96% {
    background-color: #7C00FF;
  }
  100% {
    background-color: #BA0087;
  }
}
@keyframes color_change {
  0% {
    background-color: #DB8711;
  }
  6% {
    background-color: #E15D58;
  }
  12% {
    background-color: #8080FA;
  }
  18% {
    background-color: #EAD900;
  }
  24% {
    background-color: #A5C000;
  }
  30% {
    background-color: #A5AC70;
  }
  36% {
    background-color: #AC81FA;
  }
  42% {
    background-color: #962BA8;
  }
  48% {
    background-color: #E2568D;
  }
  54% {
    background-color: #AFA700;
  }
  60% {
    background-color: #D5C754;
  }
  66% {
    background-color: #6A5A46;
  }
  72% {
    background-color: #714E9E;
  }
  78% {
    background-color: #BAB5D3;
  }
  84% {
    background-color: #AC3627;
  }
  90% {
    background-color: #A9D7D9;
  }
  96% {
    background-color: #7C00FF;
  }
  100% {
    background-color: #BA0087;
  }
}

@media (min-width: 1024px) {
  .fetch_loader .fetch_loader_counter {
    font-size: 55px;
  }
  .loader_counter {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .loader .box_main .box_expanding {
    -ms-overflow-style: none;
    scrollbar-width: none; /* for Internet Explorer, Edge */
    overflow-y: scroll; /* for Firefox */
  }
  .loader .box_main .box_expanding::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .mainframe .main {
    margin-bottom: unset;
    border-radius: unset;
  }
  .mainframe .main .content {
    gap: 15px;
    margin-bottom: 30px;
  }
}
.details {
  margin-left: unset !important;
}

@media (max-width: 825px) {
  .loader .box_counter .box_sizing .loader_counter {
    margin-top: 80px;
    font-size: 50px;
  }
}
@media (max-width: 755px) {
  .fetch_loader .fetch_loader_counter {
    font-size: 40px;
  }
  .mainframe {
    max-width: 100%;
  }
  .mainframe .main {
    border-radius: unset;
  }
  .mainframe .main .navi {
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .mainframe .main .title {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .mainframe .main .content {
    justify-content: center;
    gap: 9px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mainframe .main .content .box {
    min-width: 160px;
    width: auto;
    max-width: 170px;
  }
  .mainframe .main .details {
    margin-left: unset;
  }
  .mainframe .main .details .details_background .details_top_frame {
    margin-top: unset;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }
  .mainframe .main .details .details_background .details_top_frame .ab_details {
    margin-bottom: unset;
  }
  .mainframe .main .details .details_background .details_top_frame .details_infos .center .detail_poke_img {
    width: 100%;
  }
  .mainframe .main .details .details_background .details_top_frame .details_infos .center .details_ball_box {
    height: 120%;
    top: 10px;
  }
  .mainframe .main .details .details_background .details_bottom_frame {
    padding-top: 30px;
    padding: 30px;
  }
  .mainframe .main .details .details_background .specs_navi {
    margin-bottom: 10px;
  }
  .infos .text {
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 375px) {
  .evolution_container {
    justify-content: space-between !important;
  }
  .evolution_container div {
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .mainframe .main .title {
    padding-top: 0px;
  }
  .mainframe .main .title .slidecontainer .slider_menu {
    flex-direction: column;
  }
  .mainframe .main .title .slidecontainer .slider_menu .slider {
    width: 240px;
  }
  .mainframe .main .title .slidecontainer .slider_menu .quantity_btn {
    margin-top: 40px;
  }
  .mainframe .main .content {
    padding-left: 2px;
    padding-right: 2px;
  }
  .mainframe .main .content .box {
    min-width: 170px;
    width: auto;
    max-width: 170px;
  }
  .mainframe .main .details .details_background .details_top_frame {
    padding-top: 0px;
  }
  .mainframe .main .details .details_background .details_top_frame .ab_details {
    margin-bottom: unset;
  }
  .mainframe .main .details .details_background .details_top_frame .details_infos .center {
    height: 23vh;
  }
  .mainframe .main .details .details_background .details_top_frame .details_infos .center .details_ball_box {
    height: 120%;
    top: 10px;
  }
  .mainframe .main .details .details_background .details_bottom_frame {
    padding-top: 30px;
  }
  .mainframe .main .details .details_background .details_bottom_frame .specs_navi {
    margin-bottom: 10px;
  }
  .mainframe .main .details .details_background .details_bottom_frame .specs_navi span {
    letter-spacing: unset;
    font-size: 13px;
  }
  .mainframe .main .details .details_background .details_bottom_frame .content_details_bottom .details_table {
    font-size: 13px;
    color: grey;
  }
}
.title {
  padding-left: 20px;
  margin-top: 100px;
  padding-right: 20px;
  padding-bottom: 30px;
  width: 80%;
}

.slider_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

.slider_child {
  position: relative;
  width: 100%;
}

.demo {
  position: absolute;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  left: 0%;
  bottom: 48px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: #04AA6D;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.397);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.slidecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Width of the outside container */
  justify-content: space-between;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  /* Specified height */
  background: rgba(211, 211, 211, 0.5215686275);
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) 
and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 50px;
  /* Set a specific slider handle width */
  height: 40px;
  /* Slider handle height */
  background: #C98F00;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.slider::-moz-range-thumb {
  width: 40px;
  /* Set a specific slider handle width */
  height: 40px;
  /* Slider handle height */
  background: #C98F00;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.details {
  display: none;
  position: fixed;
  top: calc(50% + 22px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 89;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.details_top_frame {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column-reverse;
}

.details_bottom_frame {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 35px;
}

.details_infos span {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-weight: bold;
}

.ab_details {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.center {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 30vh;
}

.counter_details {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.details_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  padding-top: 100px;
}

.details_poke_img {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50% 50%;
  z-index: 90;
  height: 100%;
}

.details_ball_box {
  height: 140%;
  position: absolute;
  right: 50% 50%;
  top: 0;
  filter: invert(1) opacity(30%);
}

.details_background {
  height: 100%;
}

.specs_navi {
  display: flex;
  color: black;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: rgb(223, 211, 211) thin solid;
  z-index: 91;
}

.specs_navi span {
  padding-bottom: 15px;
  cursor: pointer;
  letter-spacing: 1px;
}

.specs_navi span:hover {
  filter: brightness(150%);
}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.bars {
  height: 6px;
  background: linear-gradient(to right, #73B500, #609900);
  border-radius: 3px;
  max-width: 570px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 102;
}
@-webkit-keyframes bars {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 570px;
  }
}
@keyframes bars {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 570px;
  }
}

.bar_background {
  background-color: rgb(238, 228, 228);
  height: 6px;
  border-radius: 3px;
  margin-left: 15px;
  max-width: 570px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.bar_width {
  width: 100%;
}

.align_right {
  text-align: right;
}

.content {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-top: 10px;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 27px;
  gap: 20px;
  max-width: 780px;
  align-items: center;
  justify-content: center;
}

.box {
  box-sizing: border-box;
  position: relative;
  height: 125px;
  width: 180px;
  min-width: 180px;
  border-radius: 15px;
  padding: 16px;
  cursor: pointer;
  transition: all 225ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.box:hover {
  filter: brightness(105%);
  transform: scale(94%);
  transition: all 225ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px, rgba(0, 0, 0, 0.3) 2px 15px 13px 3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}
.box:active {
  filter: saturate(0);
}

.poke_names {
  z-index: 5;
  letter-spacing: 1px;
}

.ability-style {
  background-color: rgba(255, 255, 255, 0.3);
  width: 45%;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.counter {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

.poke_img {
  position: absolute;
  width: 70px;
  bottom: 5px;
  right: 10px;
  z-index: 2;
  max-height: 80px;
}

.ball_box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  filter: opacity(30%) invert(1);
  width: 82px;
  padding: 7px;
}

.navi {
  position: fixed;
  width: 100%;
  max-width: 890px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: white;
}
.navi .navi_btn {
  display: flex;
  width: 40px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 25px;
  transition: all 125ms ease-in-out;
}
.navi .navi_btn:hover {
  transform: scale(92%);
  transition: all 125ms ease-in-out;
}
.navi .burger:hover .drop_down {
  display: flex;
}
.navi .burger:active .drop_down {
  display: flex;
}
.navi .drop_down {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.navi .drop_down div {
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-indent: 20px;
  transition: all 125ms ease-in-out;
}
.navi .drop_down div:hover {
  transition: all 125ms ease-in-out;
  background-color: rgb(120, 120, 209);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 12px;
  cursor: pointer;
}
.navi .drop_down div:hover:active .drop_down {
  display: none;
}

.quantity_btn {
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background-color: #8E68FF;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-left: 15px;
  letter-spacing: 1px;
  transition: all 215ms ease-in-out;
  font-family: "Baloo Da 2";
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: var(--width);
  --width: 100px;
  --timing: 2s;
}
.quantity_btn:hover {
  transition: all 215ms ease-in-out;
  background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
  -webkit-animation: var(--timing) linear dance6123 infinite;
          animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}
@-webkit-keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}
@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}
.quantity_btn:active {
  transform: scale(90%);
}

.up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.up .up_arrow {
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}
.up .up_arrow:hover {
  transform: scale(93%);
  transition: all 125ms ease-in-out;
}
.up .up_arrow:hover:active {
  transform: scale(80%);
}

.evo_main {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evo_box {
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 240px;
  text-align: center;
  border-radius: 15px;
}

.evolution_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.evolution_container div {
  display: flex;
  flex-direction: column;
  background-color: #ecf1f3;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.evolution_container div p {
  margin-top: unset;
}

* {
  scroll-behavior: smooth;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scrollbar-width: auto;
  /* Firefox */
  scrollbar-color: #ffffff #ffffff;
}
* ::-webkit-scrollbar {
  /* Chrome, Edge, and Safari */
  width: 10px;
}
* ::-webkit-scrollbar-track {
  background-color: #ffffff;
  margin-top: 90px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #EECB00;
  border-radius: 10px;
  border: 0px solid #000000;
}

body {
  scroll-behavior: smooth;
  font-family: "Baloo Da 2";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #3DB7FF, #EBA055);
}

.mainframe {
  max-width: 940px;
  position: relative;
  z-index: 99;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: relative;
}

.dflex {
  display: flex;
  align-items: baseline;
}

.center_pos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pokedex_logo {
  margin-left: 0px;
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */