@import '../scss/fonts';
@import '../scss/infos';
@import '../scss/loader';
@import '../scss/responsive';
@import '../scss/slider';
@import '../scss/details';
@import '../scss/content';
@import '../scss/navigation';
@import '../scss/evolution';

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

}

body {
  font-family: 'Baloo Da 2';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #3DB7FF, #EBA055);
}

.mainframe {
  max-width: 940px;
  position: relative;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: relative; /// check
}

.dflex {
  display: flex;
  align-items: baseline;
}

.center_pos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.pokedex_logo {
  margin-left: 0px;
  margin-bottom: 0px;
}