.details {
  display: none;
  position: fixed;
  // top: calc(50% + 23px);
  // left: 50%;
  // transform: translate(-50%,-50%);
  width: 100%;
  height: 100vh;
  z-index: 89;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.details_top_frame {
  padding-left: 100px;
  padding-right: 80px;
  display: flex;
  flex-direction: column-reverse;
}

.details_bottom_frame {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 35px;
}

.details_infos span {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-weight: bold;
}

.ab_details {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.center {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 30vh;
}

.counter_details {
  color: white;
  font-size: 28px;
}

.details_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  padding-top: 100px;
}

.details_poke_img {
  display: flex;
  position: absolute;
  top: calc(50% + 10px); 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 90;
  height: 100%;
  filter: opacity(0%);
  animation-name: appearance;
  animation-delay: 200ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  0% {
    left: 35%;
    filter: brightness(500%);
  }
  100% {
    left: 50%;
    filter: brightness(100%);
  }
}

.details_ball_box {
  height: 140%;
  position: absolute;
  right: 50% 50%;
  top: 0;
  filter: invert(1) opacity(30%);
}

.details_background {
  height: 100%;
}

.specs_navi {
  display: flex;
  color: black;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: rgb(223, 211, 211) thin solid;
  z-index: 91;
}

.specs_navi span {
  padding-bottom: 15px;
  cursor: pointer;
  letter-spacing: 1px;
}

.specs_navi span:hover {
  filter: brightness(150%);
}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.bars {
  height: 6px;
  background: linear-gradient(to right, #b8badd, #319a9e);
  border-radius: 3px;
  max-width: 570px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  animation-name: bars;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  z-index: 102;

  @keyframes bars {
    0% {
      max-width: 0px;
    }

    100% {
      max-width: 570px;
    }
  }
}

.bar_background {
  background-color: rgb(238, 228, 228);
  height: 6px;
  border-radius: 3px;
  margin-left: 15px;
  max-width: 570px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.bar_width {
  width: 100%;
}

.align_right {
  text-align: right;
}