.evo_main {
  margin-top: 20px;
}

.evo_box {
  font-weight: bold;
  letter-spacing: 1px;
  text-indent: 20px;
  // position: relative;
  // height: 30px;
  border-radius: 15px;
  // padding: 16px;
  // transition: all 225ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    // rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  //   &:active {
  //     filter: saturate(0);
  //   }
}