.evo_main {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evo_box {
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 240px;
  text-align: center;
  // position: relative;
  // height: 30px;
  border-radius: 15px;
  // padding: 16px;
  // transition: all 225ms ease-in-out;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    // rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  //   &:active {
  //     filter: saturate(0);
  //   }
}

.evolution_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  
  div {
    display: flex;
    flex-direction: column;
    background-color: #ecf1f3;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    p {
      margin-top: unset;
    }
  }

}