.infos {
  display: flex;
  flex-direction: column;
  display: none;
  position: fixed;
  top: 23px;
  left: 50% 50%;
  max-width: 890px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 99;

  .text {
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;

    span {
      display: flex;
      flex-direction: column;
      line-height: 130%;
    }
  }
}