.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 90;

  .box_main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;

    .box_top {
      display: flex;
      justify-content: baseline;
      width: 100%;
      z-index: 93 !important;
      transform: scale(107%);
      transform-origin: bottom center;
    }

    .box_expanding {
      display: flex;
      justify-content: center;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      animation-name: open_up;
      animation-duration: 3000ms;
      animation-play-state: paused;
      animation-fill-mode: forwards;
      overflow: hidden;
      overflow: scroll;
      background-color: white;

      @keyframes open_up {
        0% {
          height: 0vh
        }

        100% {
          height: 100vh;
        }
      }
    }

    .box_bottom {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      z-index: 103;
      transform: scale(107%);
      transform-origin: top center;
    }

    .box_counter {
      position: absolute;
      left: 50% 50%;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: disappear_counter;
      animation-duration: 1000ms;
      animation-play-state: paused;
      animation-fill-mode: forwards;
      z-index: 102;

      @keyframes disappear_counter {
        0% {
          bottom: 0;
        }

        100% {
          bottom: -140px;
        }
      }
    }

    .loader_counter {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 10%;
      height: 10%;
      letter-spacing: 1px;
      margin-top: 12%;
      margin-left: 0.5%;
      left: 50% 50%;
      text-align: center;
      color: #F1DF00;
      font-size: 5vw;
      font-weight: bolder;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
      z-index: 81;
    }

    .pokemox_circle {
      width: 100%;
      height: 100%;
      transform: scale(101%);
      transform-origin: center center;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      z-index: 80;
    }
  }
}

// loader after pressing FETCH Button!

.fetch_loader {
  position: fixed;
  top: 0;
  left: 50% 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #00000028;

  .pokeball_loader {
    position: absolute;
    top: 50% 50%;
    left: 50% 50%;
    max-width: 260px;
    animation-name: rotate;
    animation-duration: 3600ms;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .fetch_loader_counter {
    position: absolute;
    top: 50% 50%;
    left: 50% 50%;
    color: #f8f4f4;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
      0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
    background-color: #FF9A60;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 1px;
    animation-name: color_change;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    @keyframes color_change {
      0% {
        background-color: #DB8711;
      }

      6% {
        background-color: #E15D58;
      }

      12% {
        background-color: #8080FA;
      }

      18% {
        background-color: #EAD900;
      }

      24% {
        background-color: #A5C000;
      }

      30% {
        background-color: #A5AC70;
      }

      36% {
        background-color: #AC81FA;
      }

      42% {
        background-color: #962BA8;
      }

      48% {
        background-color: #E2568D;
      }

      54% {
        background-color: #AFA700;
      }

      60% {
        background-color: #D5C754;
      }

      66% {
        background-color: #6A5A46;
      }

      72% {
        background-color: #714E9E;
      }

      78% {
        background-color: #BAB5D3;
      }

      84% {
        background-color: #AC3627;
      }

      90% {
        background-color: #A9D7D9;
      }

      96% {
        background-color: #7C00FF;
      }

      100% {
        background-color: #BA0087;
      }
    }
  }
}