.navi {
  position: fixed;
  width: 100%;
  max-width: 890px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: white;
  .navi_btn {
    display: flex;
    width: 40px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(92%);
      transition: all 125ms ease-in-out;
    }
  }


  .burger:hover .drop_down {
    display: flex;
  }


  .burger:active .drop_down {
    display: flex;
  }


  .drop_down {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 120px;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
      div {
        color: black;
        text-decoration: none;
        font-size: 20px;
        text-indent: 20px;
        transition: all 125ms ease-in-out;
        
        &:hover {
          transition: all 125ms ease-in-out;
          background-color: rgb(120, 120, 209);
          color: white;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          border-radius: 12px;
          cursor: pointer;

        &:active .drop_down {
          display: none;
        }
        }
      }
  }
}


.quantity_btn {
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background-color: #8E68FF;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-left: 15px;
  letter-spacing: 1px;
  transition: all 215ms ease-in-out;
  font-family: 'Baloo Da 2';
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: var(--width);
  --width: 100px;
  --timing: 2s;
  &:hover {
    transition: all 215ms ease-in-out;
    background-image: linear-gradient(to right, rgb(250, 82, 82),
        rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%,
        rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%,
        rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%,
        rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%,
        rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%,
        rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
    @keyframes dance6123 {
      to {
        background-position: var(--width);
      }
    }
  }
  &:active {
    transform: scale(90%);
  }
}

.up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  .up_arrow {
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(93%);
      transition: all 125ms ease-in-out;
    &:active {
      transform: scale(80%);
    }
    }
  }
}