@media (min-width: 1024px) {
    .fetch_loader {
        .fetch_loader_counter {
            font-size: 40px !important;
        }
    }

    .loader_counter {
        font-size: 40px !important;
    }
}

@media (max-width: 1024px) {
    .evolution_container {
        gap: 10px !important;
        div {
            padding-left: unset !important;
            padding-right: unset !important;
            img {
                transform: scale(0.8);
            }

            p {
                margin-top: -20px !important;
            }
        }
    }

    .content {
        overflow-y: hidden;
    }

    .mainframe {
        .main {
            margin-bottom: unset;
            border-radius: unset;
            .content {
                gap: 15px;
                margin-bottom: 25px;
            }
        }
    }
}

.details {
    margin-left: unset !important;
}

@media (max-width: 825px) {
    .title {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center !important;
        margin-top: 100px;
        padding-bottom: 30px;
        max-width: 760px;
        width: 100%;
    }

    .loader {
        .box_counter {
            .box_sizing {
                .loader_counter {
                    margin-top: 80px;
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 755px) {
    .search_bar {
        max-width: unset !important;
        align-items: center !important;
        justify-content: center;
    }

    .drop_down {
        top: 80px !important;
    }

    .fetch_loader {
        .fetch_loader_counter {
            font-size: 40px;
        }
    }

    .mainframe {
        max-width: 100%;
        .main {
            border-radius: unset;

            .navi {
                padding-top: 40px;
                padding-bottom: 15px;
            }

            .title {
                padding-top: 20px;
                padding-bottom: 30px;
            }

            .content {
                justify-content: center;
                gap: 9px;
                margin-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;

                .box {
                    min-width: 160px;
                    width: auto;
                    max-width: 170px;
                }
            }

            .details {
                margin-left: unset;
                .details_background {
                    .details_top_frame {
                        margin-top: unset;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 0px;
                        .ab_details {
                            margin-bottom: unset;
                        }
                        .details_infos {
                            .center {
                                .detail_poke_img {
                                    width: 100%;
                                }
                                .details_ball_box {
                                    height: 120%;
                                    top: 10px;
                                }
                            }
                        }
                    }
                    .details_bottom_frame {
                        padding-top: 30px;
                        padding: 30px;
                    }
                    .specs_navi {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .infos {
        .text {
            padding-top: 90px;
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}

@media (max-width: 375px) {
    .mainframe {
        .main {
            .title {
                padding-top: 70px;
                .slidecontainer {
                    .slider_menu {
                        flex-direction: column;
                        .quantity_btn {
                            margin-top: 10px;
                            margin-left: unset;
                            margin-bottom: 40px;
                        }
                    }
                }
            }

            .content {
                padding-left: 2px;
                padding-right: 2px;
                .box {
                    min-width: 170px;
                    width: auto;
                    max-width: 170px;
                }
            }

            .details {
                .details_background {
                    .details_top_frame {
                        padding-top: 0px;
                        .ab_details {
                            margin-bottom: unset;
                        }
                        .details_infos {
                            .center {
                                height: 23vh;
                                .details_ball_box {
                                    height: 120%;
                                    top: 10px;
                                }
                            }
                        }
                    }

                    .details_bottom_frame {
                        padding-top: 30px;
                        .specs_navi {
                            margin-bottom: 10px;
                            span {
                                letter-spacing: unset;
                                font-size: 13px;
                            }
                        }

                        .content_details_bottom {
                            .details_table {
                                font-size: 13px;
                                color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
}
