@media (max-width: 1024px) {
  .loader .box_main .box_expanding {
    -ms-overflow-style: none;
    scrollbar-width: none; /* for Internet Explorer, Edge */
    overflow-y: scroll; /* for Firefox */

    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
  }

}

  .mainframe {
    .main {
      margin-bottom: unset;
      border-radius: unset;

      .content {
        gap: 15px;
        margin-bottom: 30px;
      }
    }
  }


}

@media (max-width: 825px) {
  .slidecontainer {
    flex-direction: column;
    margin-bottom: 30px;
    .pokedex_logo {
      margin-bottom: 30px;
    }
    .slider_menu {
      margin-right: unset;
    }
  }

  .loader {
    .box_counter {
      .box_sizing {
        .loader_counter {
          margin-top: 80px;
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 755px) {

  .loader {
    .box_counter {
      .box_sizing {
        .loader_counter {
          margin-top: 40px;
          font-size: 24px;
        }
      }
    }
  }

  .mainframe {
    max-width: 100%;
    .main {
      border-radius: unset;

      .navi {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .title {
        padding-top: 10px;
        padding-bottom: 30px;
  
        .slidecontainer {

          .slider_menu {        
            .slider {
              width: 200px;
            }
          }
        }
      } 

      .content {
        justify-content: center;
        gap: 9px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        .box {
          min-width: 160px;
          width: auto;
          max-width: 170px;
        }
      }
      
      .details {
        .details_background {
          .details_top_frame {
            margin-top: unset;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 0px;
            .ab_details {
              margin-bottom: unset;
            }
            .details_infos {
              .center {
                .detail_poke_img {
                  width: 100%;
                }
                .details_ball_box {
                  height: 120%;
                  top: 10px
                }
              }
            }
          }
          .details_bottom_frame {
            padding-top: 30px;
            padding: 30px;
          }
          .specs_navi {
            margin-bottom: 10px;
          }
          }
        }
      }
  }

  .infos {
    .text {
      padding-top: 70px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

@media (max-width: 375px) {

  .mainframe {
    .main {
      .title {
        padding-top: 20px;
        .slidecontainer {
          .slider_menu {    
            flex-direction: column;    
            .slider {
              width: 240px;
            }
            .quantity_btn {
              margin-top: 60px;
            }
          }
        }
      } 

      .content {
        padding-left: 2px;
        padding-right: 2px;
        .box {
          min-width: 175px;
          width: auto;
          max-width: 175px;
        }
      }
      
      .details {
        .details_background {
          .details_top_frame {
            padding-top: 0px;
            .ab_details {
              margin-bottom: unset;
            }
            .details_infos {
              .center {
                height: 23vh;
                .details_ball_box {
                  height: 120%;
                  top: 10px
                }
              }
            }
          }

          .details_bottom_frame {
            padding-top: 30px;
            .specs_navi {
              margin-bottom: 10px;
              span {
                letter-spacing: unset;
                font-size: 13px;
              }
            }

            .content_details_bottom {
              .details_table {
                font-size: 13px;
                color: grey;
              }



            }
          }

          }
        }
      }}}